<footer>

    <div class="footer-bottom">
        <p> No Copy Rights Intended.</p>
        <p class="love">Made with <i class="glyphicon glyphicon-heart"></i> by Humandroid</p>
        <p class="love">Powered by <i class="glyphicon glyphicon-leaf"></i> Node JS</p>
    </div>
    <div class="row"></div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJNL3cBeBMb9TYu6KQr3Wm2KS01S_XkGg&callback=initMap"></script>