    <div class="clear"></div>
    <section id="content" class="two-column with-right-sidebar">

        <article>
            <h2>Welcome to BART trains Info</h2>

            <p> Select From and To stations from the side bar</p>
            <p>
            <div class="alert alert-info" role="alert"> <div class="glyphicon glyphicon-info-sign"></div><span style="margin: 10px" id="useralert"></span> </div>
            <div class="row" id="trips">
            </div>
            </p>
        </article>

        <article>
        <div id="map">

        </div>


        </article>
    </section>

