<!DOCTYPE HTML>
<html>
<head>
    <title>Oh!! Snap</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/static/css/notfoundstyle.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!-----start-wrap--------->
<div class="wrap">
    <!-----start-content--------->
    <div class="content">
        <!-----start-logo--------->
        <div class="logo">
            <h1><a href="#"><img src="/static/images/logo.png"/></a></h1>
            <span><img src="/static/images/signal.png"/>Oops! The Page you requested was not found!</span>
        </div>
        <!-----end-logo--------->
        <!-----start-search-bar-section--------->
        <div class="buttom">
            <div class="seach_bar">
                <p>You can go to <span><a href="http://api.humandroid.us">api home</a></span> page.
                If you are looking for the bart page, you know how to get it!!</p>
                <div class="search_box">

                </div>
            </div>
        </div>
        <!-----end-sear-bar--------->
    </div>
    <!----copy-right-------------->
    <div class="copy_right">
    <p class="love">&#169; I seriously don't own this template </p>
    <p class="love">Made with <i class="glyphicon glyphicon-heart"></i> by Humandroid</p>
    <p class="love">Powered by <i class="glyphicon glyphicon-leaf"></i> Node JS</p>
    </div>
</div>

<!---------end-wrap---------->
</body>
</html>